<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.coded">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
            android:usesCleartextTraffic="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity android:name=".Activities.Landing">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LogRegActivity"/>
        <activity android:name=".Activities.ProfileActivity"/>
        <activity android:name=".Activities.WishMaker"/>
        <activity android:name=".Activities.WishDetails"/>
        <activity android:name=".Activities.LinkHandler">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>

                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>

                <data
                        android:host="192.168.8.100"
                        android:pathPrefix="/s/wishlist/share"
                        android:scheme="http"></data>
                <data
                        android:host="192.168.8.100"
                        android:path="/s/wishlist/share"
                        android:scheme="https"></data>
            </intent-filter>
        </activity>

    </application>
</manifest>
